.container{
    width:100%;
    position: relative;

}

.mySlides{
    width: 100%;
    height: 250px;
   text-align: center;
}


.prev, .next {
    position: absolute;
    top: 85px;
    width: auto;
    margin-top: 0px;
 
    border-radius: 50% ;
    padding: 14px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    background-color: rgba(211, 163, 163, 0.8);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    
  }