.container{
    width: 100%;
     background-color: #151518;
    position: relative;
    padding: 25px;
}

.search{

    padding: 35px 25px;
}

.seach-bar, .dropdown{
    display: inline-block;
}
input {
    width:200px;    
    background: rgb(65, 63, 63);;
    border: 3px solid #fff;
    border-radius: 12px;
    box-sizing: border-box;
    padding:  7px;
    font-size: 14px;
    color: rgb(224, 193, 193);
  
    position: relative;
  }
  select{
    width:200px;    
    background: rgb(53, 52, 52);;
    border: 3px solid #fff;
    padding: 5px 15px 7px;
    font-size: 14px;
    color: rgb(224, 193, 193);
    position: relative;  
    border-radius:12px; 
  }

.dropdown{
    float: right;
    clear: both;
 
}

 .main-content{
     margin: 25px;
 }
.wrapper{
    margin: 20px;
    display: flex;
    overflow-x: scroll;

}

.wrapper::-webkit-scrollbar{
   display: none;
}

.wrapper .card{
    margin-right: 10px;
    min-width: 250px;
    height: 140px;
    line-height: 140px;
    text-align: center;
}

 h3{
     margin: 20px; 
     color: white;
 }